/* Styles */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(images/marble-background.jpg);
}

header {
  height: 200px;
  background-color: #007090;
  padding: 20px;
}

footer {
  height: 50px;
  background-color: #007090;
  padding: 20px;
}

.profpic {
  text-align: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
  top: -2px;
}

section {
  padding: 0 25%;
  margin: 80px 0;
}
    

/* Headings */

header h1, h3 {
  font-family: Arial, sans-serif;
  color: #A3BAC3;
  text-align: center;
}

h1 {
  font-size: 65px;
}

h3 {
  font-size: 40px;
}

h2 {
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  font-size: 50px;
}

p, li {
   font-family: Arial, sans-serif;
  text-align: left;
  color: black;
  }
  
footer p {
  color: #A3BAC3;
  text-align: center;
  }

.center {
  text-align: center;
}

/* Links */

a:link { color: #01A7C2; }
a:visited { color: #3C0000; }
a:hover { color: #774936; }
a:active { color: #3B3B58; }

  
